@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.container{
	font-family: 'Poppins', sans-serif;
}

body{
	background-color: #F0F2F2!important;
} 

h4.name.display-4{
	margin-top: 30vh; 
	font-family: 'Josefin Sans', sans-serif;
}

.jumbotron.blue{
	background-image: linear-gradient(to bottom right,#2a9df4,#1167b1);
	min-height: 100vh;
}

.container-fluid.yellow{
	background-color: #fccf14;
	min-height: 100vh;
}

h1, h2, h3, h4{
	font-family: 'Josefin Sans', sans-serif;
	font-style: bold;
}

p, span{
	font-family: 'Poppins', sans-serif;
	font-style: bold;
	font-size: 20px;
}

/*img.foto1.img-fluid{
	margin: auto;
}*/

.icon {
	position:relative;
	text-align:center;
	width:0px;
	height:0px;
	padding:20px;
	border-top-right-radius: 	20px;
	border-top-left-radius: 	20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 	20px; 
	-moz-border-radius: 		20px 20px 20px 20px;
	-webkit-border-radius: 		20px 20px 20px 20px;
	-khtml-border-radius: 		20px 20px 20px 20px; 	
	color:#FFFFFF;
}
.icon i {
	font-size:20px;
	position:absolute;
	left:9px;
	top:10px;
}
.icon.social {
	float:left;
	margin:0 5px 0 0;
	cursor:pointer;
	background:#F0F2F2 ;
	color:#262626;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 	
}
.icon.social:hover {
	background:#262626 ;
	color:#F0F2F2;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	-webkit-filter:	drop-shadow(0 1px 10px rgba(0,0,0,.8));
	-moz-filter: 	drop-shadow(0 1px 10px rgba(0,0,0,.8));
	-ms-filter: 	drop-shadow(0 1px 10px rgba(0,0,0,.8));
	-o-filter: 		drop-shadow(0 1px 10px rgba(0,0,0,.8));
	filter: 		drop-shadow(0 1px 10px rgba(0,0,0,.8));	 	
}
.icon.social.fb i {
	left:12px;
	top:10px;
}
.icon.social.ig i {
	left:12px;
}
.icon.social.in i {
	left:11px;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 15px;
    right: 20px;
    z-index: 99;
    font-size: 12px;
    border: none;
    outline: none;
    background-color: #0EBFAA;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }
