@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.navbar-light a.navbar-brand{
	font-family: 'Josefin Sans', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 20px;
	color: #03254C;
}

.navbar .nav-link{
	font-family: 'Poppins', sans-serif;
}

ul.navbar-nav li.nav-item a.nav-link{
	color: #3A436B;
	text-decoration: none;
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 1px;
}

nav {
	align-items: center;
	padding: 20px;
	background-color: #F0F2F2;
}

.navbar-toggler-icon {
	color: #3A436B;
} 

ul.navbar-nav li.nav-item a.nav-link.btn.btn-dark {
	color: #ffffff;
	border-radius: 30px;
	width: 90px;

}

footer{
	background-image: linear-gradient(to bottom right,#2a9df4,#1167b1);
}




/*---------- CSS INDEX PAGE ----------*/






/*---------- CSS GALLERY PAGE ----------*/

