{% load static %}
{% load google_analytics_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS Layout -->
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- Tambahan CSS -->
    {% block css %}

    {% endblock css %}

    <title>{% block title %}{% endblock title %}</title>
</head>
<body class="d-flex flex-column min-vh-100" style="position: relative;">
<header class="header">

    <div style="display:none">
        <img src="{% google_analytics %}" width="0" height="0" />
    </div>
    <nav class="navbar navbar-expand-lg navbar-light shadow-sm py-3">
        <div class="container">
            <a class="navbar-brand" href="/">Widyanto</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link scroll-link" href="/#aboutme">About me</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link scroll-link" href="/gallery">More</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Stories
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item nav-link" href="{% url 'story1:index' %}">Story 1</a>
                        <a class="dropdown-item nav-link" href="{% url 'story5:index' %}">Story 5</a>
                        <a class="dropdown-item nav-link" href="{% url 'story6:index' %}">Story 6</a>
                        <a class="dropdown-item nav-link" href="{% url 'story7:index' %}">Story 7</a>
                      </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
    {% block content %}
    
    {% endblock content %}


<!-- Footer -->

    <footer class="page-footer font-small">
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3" style="font-style: bold; font-family: Poppins; color: white;">© 2020 :
        <a>Widyanto</a>
      </div>
      <!-- Copyright -->

    </footer>
    <!-- Footer -->


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    
    {% block js %}

    {% endblock js %}
  
</body>
</html>