{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/kuliah.css' %}">
{% endblock css %}


{% block title %}Kuliah: {{kuliah.nama}}{% endblock title %}

{% block content %}
    <div class="container" style="margin-top: 10vh;">
        <h2 style="color: #f5ae16;">Detail Mata Kuliah</h2>
    </div>

    <div class="container" style="margin-top: 10vh;">
        <h6> Mata Kuliah :</h6>
        <p style="margin-left: 2rem;">{{ kuliah.nama }}</p>
        <h6> Dosen Pengajar : </h6>
        <p style="margin-left: 2rem;">{{ kuliah.dosen }}</p>
        <h6> Deskripsi : </h6>
        <p style="margin-left: 2rem;">{{ kuliah.desc }}</p>
        <h6> Semester : </h6>
        <p style="margin-left: 2rem;">{{ kuliah.semester }}</p>
        <h6> Jumlah SKS : </h6>
        <p style="margin-left: 2rem;">{{ kuliah.jml_sks }}</p>
    </div>

    <div class="container" style="margin-bottom: 2rem;">
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter">
    Hapus
    </button>
    <a type="button" class="btn btn-primary" href="../">Kembali</a>
    </div>

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Hapus Kuliah {{kuliah.nama}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Yakin ingin menghapus Kuliah {{kuliah.nama}}?</p>
        </div>
        <div class="modal-footer">
          <a type="button" class="btn btn-danger" href="{% url 'story5:delete_kuliah' kuliah.id %}">Delete</a>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>


  

{% endblock content %}

{% block js %}
{# <script src="{% static 'js/gallery.js'%}"></script> #}
    
{% endblock js %}