{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/gallery.css' %}">
{% endblock css %}


{% block title %}Widyanto's Gallery{% endblock title %}

{% block content %}

<!-- Header -->
<header class="bg-primary text-center py-5 mb-4">
  <div class="container">
    <h1 class="font-weight-light text-white">Lets know me More!!</h1>
  </div>
</header>

<!-- Page Content -->
<div class="container-fluid">
  <div class="row">
    <!-- Team Member 1 -->
    <div class="col-xl-4 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="{% static 'img/foto3.jpg' %}" class="card-img-top" alt="..." >
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Highschoolmate!!</h5>
          <div class="card-text text-black-50">My Friends and I when we met again at end of 2019</div>
        </div>
      </div>
    </div>
    <!-- Team Member 2 -->
    <div class="col-xl-4 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="{% static 'img/toki.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">TOKI Camp 2020</h5>
          <div class="card-text text-black-50">It was a superb event and I met superb people</div>
        </div>
      </div>
    </div>
    <!-- Team Member 3 -->
    <div class="col-xl-4 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="{% static 'img/pg.png' %}" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Playground Event</h5>
          <div class="card-text text-black-50">Work with fun people in very serious division</div>
        </div>
      </div>
    </div>
    <!-- Team Member 4 -->
  </div>
  <!-- /.row -->
  <div class="row">
    <!-- Team Member 1 -->
    <div class="col-xl-4 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="{% static 'img/akpem.png' %}" class="card-img-top" alt="..." >
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Academic and Leadership Department</h5>
          <div class="card-text text-black-50">I've ment the best people to work with</div>
        </div>
      </div>
    </div>
    <!-- Team Member 2 -->
    <div class="col-xl-4 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="{% static 'img/kintan.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">KUDETA go to Kintan</h5>
          <div class="card-text text-black-50">Kirung's Birthday was amazing</div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="{% static 'img/fieldtrip.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Fieldtrip Jogja</h5>
          <div class="card-text text-black-50">Was a very fun and unstressfull</div>
        </div>
      </div>
    </div>
 </div>
</div>
<!-- /.container -->

{% endblock content %}

{% block js %}
<script src="{% static 'js/gallery.js'%}"></script>
    
{% endblock js %}