{% extends 'base.html' %}
{% load static %}

{% block css %}
<!-- <link rel="stylesheet" href="{% static 'css/index.css' %}"> -->
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock css %}


{% block title %}Widyanto's Profile{% endblock title %}

{% block content %}
<!-- <button onclick="topFunction()" id="myBtn" title="Go to top">^</button> -->
	<div class="jumbotron jumbotron-fluid blue">
	  <div class="container">
	    <h4 class="name display-4">Widyanto Hadi<br>Nugroho</h4>
	    <div class="d-flex justify-content-start">
		  	<a class='icon social fb' href="//github.com/galacticor" target="_blank"><i class='fa fa-github'></i></a>
			  <a class='icon social in' href="//www.linkedin.com/in/widyantohd" target="_blank"><i class='fa fa-linkedin'></i></a>
			  <a class='icon social ig' href="//www.instagram.com/widyantonugroho" target="_blank"><i class='fa fa-instagram'></i></a>
			  <a class='icon social in' href="//api.whatsapp.com/send?phone=628226138789" target="_blank"><i class='fa fa-whatsapp'></i></a>
			</div>
	  </div>
	</div>
	<span id="aboutme"></span>
<div class="container yellow" >
  <!-- Content here -->
  <div class="row" style="margin-bottom: 6rem; margin-top: 10vh;">
  	<div class="col-lg-6 col-md-6" >
  		
  		<p style="margin-top: 2rem;">Hi, I am <span style="font-size: 2rem; color: #fe6600;">Widyanto.</span></p> 
  		<p>I’m currently pursuing Bachelor’s degree of Computer Science. </p>
  		<p style="margin-top: 6vh;">I was a Competitive Programmer and have enthusiasm at Data Science and Machine Learning. </p>
    </div>
  <!-- <div class="col-lg-6"></div> -->
    <div class="col-lg-6 col-md-6">
	   <div class="text-center">
	   	<img class="foto1 img-fluid" src="{% static 'img/foto1.png' %}" alt="#"></img>
	   </div>
    </div>
   </div>
</div>

<div class="container-fluid" id="profile">
	<div class="container">
        <h2 class="text-center" style="margin-top: 4rem; color: #03254c;"> Education</h2>
  </div>
  <!-- Content here -->
  			<div class="row" style="justify-content: center;">
                <div class="col-lg-3 col-md-6"> 
                    <div class="container" style="margin-top: 2rem;">
                        <div class="card">
                          <img class="card-img-top" src="{% static 'img/sma.jpg' %}" alt="Card image" style="width:100%;">
                          <div class="card-body">
                            <h4 class="card-title text-center">Senior High School</h4>
                            <p class="card-text text-center">SMAN Unggulan MH Thamrin</p>
                            <p class="card-text text-center">2016 - 2019</p>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6"> 
                    <div class="container" style="margin-top: 2rem;">
                        <div class="card">
                          <img class="card-img-top" src="{% static 'img/uai.jpg' %}" alt="Card image" style="width:100%;">
                          <div class="card-body">
                            <h4 class="card-title text-center">Universitas Indonesia</h4>
                            <p class="card-text text-center">Computer Science</p>
                            <p class="card-text text-center">2019 - present</p>
                          </div>
                        </div>
                    </div>
                </div>     
            </div>
        </div>
</div>

<div class="container">
	<div class="container">
     <h2 class="text-center" style="margin-top: 4rem; color: #03254c;"> Interest</h2>
  </div>
  <div class="row" style="margin-bottom: 6rem; margin-top: 6vh;">
  	<div class="col-lg-6 col-md-8" style="margin-bottom: 2rem;">
  		<p style="margin-top: 2rem;"> I have <span style="font-size: 2rem; color: #fe6600;">hobbies and interests</span></p> 
  		<p>I really like F1 a lot and have enthusiasm in Machine Learning. </p>
  		<p>I enjoy playing AWS DeepRacer to learn and stick with my hobby.</p>
    </div>
    <div class="col-lg-6 col-md-6">
	   <div class="text-center">
	   	<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
			  <ol class="carousel-indicators">
			    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
			    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
			  </ol>
			  <div class="carousel-inner">
			    <div class="carousel-item active">
			      <img src="{% static 'img/f1.png' %}" class="d-block w-100" alt="...">
			    </div>
			    <div class="carousel-item">
			      <img src="{% static 'img/deepracer.png' %}" class="d-block w-100" alt="...">
			    </div>
			  </div>
			  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
			    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
			    <span class="sr-only">Previous</span>
			  </a>
			  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
			    <span class="carousel-control-next-icon" aria-hidden="true"></span>
			    <span class="sr-only">Next</span>
			  </a>
			</div>
	   	<!-- <img class="foto1 img-fluid" src="{% static 'img/f1.png' %}" alt="#"></img> -->
	   </div>
    </div>
   </div>
</div>

<div class="container">
	<div class="container">
     <h2 class="text-center" style="margin-top: 4rem; color: #03254c;"> Experiences</h2>
  </div>
  <div class="row" style="margin-top: 6rem;">
  	<div class="col-lg-6 col-md-8" >
  		<p>Staff of Academic and Leadership Departmen </p>
  		<p>BEM Fasilkom UI</p>
  		<p>2020</p>
    </div>
	</div>
</div>

<div class="container">
  <div class="row" style="margin-bottom: 6rem; margin-top: 10vh;">
  	<div class="align-self-center col-lg-6 col-md-8" >
  		<h1 style="font-size: 8rem; font-style: bold; font-family: Josefin Sans">SKILL</h1>
    </div>
    <div class="col-lg-6 col-md-4">
     <h3>Python</h3>
	   <div class="progress">
			  <div class="progress-bar bg-success" role="progressbar" style="width: 90%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">9/10</div>
			</div>
		 <h3>Data Structure</h3>
			<div class="progress">
			  <div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">8/10</div>
			</div>
		 <h3>Java</h3>
			<div class="progress">
			  <div class="progress-bar bg-warning" role="progressbar" style="width: 85%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">8.5/10</div>
			</div>
		 <h3>Aptitude</h3>
			<div class="progress">
			  <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">10/10</div>
			</div>
	    </div>
   </div>
</div>

{% endblock content %}

{% block js %}
    <script src="{% static 'scroll-up.js' %}"></script>
{% endblock js %}