{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block css %}

{% endblock css %}


{% block title %}Kegiatan{% endblock title %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h2 class="display-4 text-center" style="margin-top: 30vh;">Daftar Kegiatan</h2>
    </div>
</div>
<div class="container" style="min-height: 78vh;">
  <div class="container" style="margin-bottom: 10vh; margin-top: 10vh;">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    Tambah Kegiatan
  </button>
  </div>

  <div class="table-responsive container" style="margin-top: 3rem;">
          <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th class="text-center">Kegiatan</th>
                  <th class="text-center">Deskripsi</th>
                  <th class="text-center">Peserta</th>
                  <th class="text-center">Action</th>
                </tr>
              </thead>
              {% for k in kegiatan %}
              <tr>
                  <th scope="row">{{ forloop.counter }}</th>
                  <td>{{ k.nama }}</td>
                  <td>{{ k.desc }}</td>
                  <td>
                    {% for p in peserta %}
                      {% if p.kegiatan == k %}
                      - {{ p.nama }} <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteModal" data-id="{{p.id}}" data-nama="{{p.nama}}">Hapus</button>
                      <br>
                      {% endif %}
                    {% endfor %}
                  </td>
                  <td class="text-center">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#registerModal" data-id="{{k.id}}" data-nama="{{k.nama}}">Register</button>
                  </td>
              </tr>
              {% endfor %}
          </table>
  </div>


  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Tambah Kegiatan</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form method="post">
              {% csrf_token %}
              <div class="form-row">
                <div class="form-group col-md-12">
                  {{ form.nama|as_crispy_field }}
                </div>
              </div>
              {{ form.desc|as_crispy_field }}
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="registerModalLabel">Daftar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <form method="post" id="registerPeserta">
          {% csrf_token %}
          <div class="form-group">
             {{ formp.nama|as_crispy_field }}
          </div>
          <button type="submit" class="btn btn-primary">Register</button>
        </form>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
        <a type="button" class="btn btn-primary" id="registerPeserta">Register</a>
      </div> -->
    </div>
  </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Hapus</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" id="hapusPeserta">
        {% csrf_token %}
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
        <button type="submit" class="btn btn-danger">Hapus</button>
      </div>
      </form>
    </div>
  </div>
</div>


  

{% endblock content %}

{% block js %}
<script>
$(document).ready(function(){ 
  {% if cek %}
    $("#exampleModalCenter").modal('show');
  {% endif %}
  $('#deleteModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget) // Button that triggered the modal
    var nama = button.data('nama')
    var id = button.data('id') // Extract info from data-* attributes
    // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
    // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
    var modal = $(this)
    modal.find('.modal-title').text('Hapus ' + nama)
    modal.find('.modal-body').text('Kamu yakin akan menghapus ' + nama + ' ?')
    $("#hapusPeserta").attr("action", "peserta/"+id+"/delete/");
  })
  $('#registerModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget) // Button that triggered the modal
    var nama = button.data('nama')
    var id = button.data('id') // Extract info from data-* attributes
    // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
    // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
    var modal = $(this)
    modal.find('.modal-title').text('Daftar ' + nama)
    $("#registerPeserta").attr("action", id+"/register/");
  })
});
</script>
    
{% endblock js %}