{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/kuliah.css' %}">

{% endblock css %}


{% block title %}Kuliah{% endblock title %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h2 class="display-4 text-center" style="margin-top: 30vh;">Daftar Mata Kuliah</h2>
    </div>
  </div>
<div class="container" style="min-height: 78vh;">
  <div class="container" style="margin-bottom: 10vh; margin-top: 10vh;">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    Tambah Kuliah
  </button>
  </div>
  <div class="table-responsive container" style="margin-top: 3rem;">
          <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th class="text-center">Mata Kuliah</th>
                  <th class="text-center">Nama Dosen</th>
                  <th class="text-center">Semester</th>
                  <th class="text-center">Action</th>
                </tr>
              </thead>
              {% for k in kuliah %}
              <tr>
                  <th scope="row">{{ forloop.counter }}</th>
                  <td>{{ k.nama }}</td>
                  <td>{{ k.dosen }}</td>
                  <td>{{ k.semester }}</td>
                  <td class="text-center"><a type="button" class="btn btn-info" href="{% url 'story5:detail_kuliah' k.id %}">Detail</a></td>
              </tr>
              {% endfor %}
          </table>
  </div>
  

  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Tambah Kuliah</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form method="post">
              {% csrf_token %}
              <div class="form-row">
                <div class="form-group col-md-6">
                  {{ form.nama|as_crispy_field }}
                </div>
                <div class="form-group col-md-6">
                  {{ form.dosen|as_crispy_field }}
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                  {{ form.jml_sks|as_crispy_field }}
                </div>
                <div class="form-group col-md-6 mb-0">
                  {{ form.semester|as_crispy_field }}
                </div>
                
              </div>
              {{ form.desc|as_crispy_field }}
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
      </div>
    </div>
  </div>
</div>


  

{% endblock content %}

{% block js %}
{% if cek %}
<script>
    $(document).ready(function(){
        $("#exampleModalCenter").modal('show');
    });
</script>
{% endif %}
    
{% endblock js %}