{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/story9.css' %}">
{% endblock css %}


{% block title %}Register{% endblock title %}

{% block content %}

{% endblock content %}

{% block js %}
<script src="{% static 'js/story9.js'%}"></script>
<script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>

{% endblock js %}