{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/story8.css' %}">
{% endblock css %}


{% block title %}Story 8{% endblock title %}

{% block content %}
<div class="container-fluid" style="min-height: 100vh;">
  <div class="container" style="margin-top: 2rem;">
    <div class="book-header d-flex justify-content-center">
      <h1>Escape your misery?</h1>
    </div>
    <div class="book-header d-flex justify-content-center">
      <h4>fueled with googlebooks</h4>
    </div>
  </div>


  <div class="container" style="margin-top: 5rem;">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8">
        <form class="card card-sm" id="searchform">
          <div class="card-body row no-gutters align-items-center">
            <div class="col-auto">
              <i class="fas fa-search h4 text-body"></i>
            </div>
            <div class="col">
              <input class="form-control form-control-md form-control-borderless" id="input_search" type="search" placeholder="Jangan kebanyakan belajar">
            </div>
            <div class="col-auto">
              <button class="btn btn-md btn-success" id="button_search">Cari</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="book-list" id="book-list">
  </div>

  <div class="status-wrapper" style="margin-top: 5rem;">
      <table id="booktable" class="table table-striped table-dark" style="display: none;">
          <thead id="booktable-header">
            <tr>
              <th scope="col">Identifier</th>
              <th scope="col">Cover</th>
              <th scope="col">Title</th>
              <th scope="col">Author</th>
              <th scope="col">Publisher</th>
              <th scope="col">Date</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody id="booktable-content"></tbody>
      </table>
  </div>
</div>





{% endblock content %}

{% block js %}
<script src="{% static 'js/story8.js'%}"></script>
<script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

{% endblock js %}