{% extends 'base.html' %}
{% load static %}

{% block css %}
    
{% endblock css %}


{% block title %}Widyanto's Profile{% endblock title %}

{% block content %}

	<div class="jumbotron jumbotron-fluid">
	  <div class="container">
	  	<h5 class="display-7 text-center">myprofile</h5> <br><br><br>
	    <h2 class="display-4 text-center">Widyanto Hadi N</h2>
	  </div>
	</div>

<div class="container" id="profile">
  <!-- Content here -->
  <div class="row" style="margin-top: 6rem;">
  	<div class="col-md-6 mx-auto">
  		<h4 style="margin-top: 2rem;">Widyanto Hadi Nugroho</h4>
  		<div class="row">
  			<table>
  				<tbody>
  					<tr>
  						<th><h5>Fakultas </h5></th>
  						<td><h5>: Ilmu Komputer</h5></td>
  					</tr>
  					<tr>
  						<th><h5>Jurusan </h5></th>
  						<th><h5>: Ilmu Komputer</h5></th>
  					</tr>
  					<tr>
  						<th><h5>Asal SMA </h5></th>
  						<th><h5>: SMAN MH Thamrin</h5></th>
  					</tr>
  					<tr>
  						<th><h5>Universitas</h5></th>
  						<th><h5>: Universitas Indonesia</h5></th>
  					</tr>
  				</tbody>
  			</table>
  		</div>
   </div>
  <div class="col-lg-6">
	   <div class="container">
	   	<img class="img-fluid" src="{% static 'img/foto3.jpg' %}" alt="#" style="margin-top: 2rem;"></img>
	   </div>
	 </div>
 </div>

 <div class="container">
 	<div class="text-center">Test</div>
 </div>



	  <!-- Button to Open the Modal -->
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
	  Gallery
	</button>

	<!-- The Modal -->
	<div class="modal" id="myModal">
	  <div class="modal-dialog">
	    <div class="modal-content">

	      <!-- Modal Header -->
	      <div class="modal-header">
	        <h4 class="modal-title">Foto - foto Gann</h4>
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	      </div>

	      <!-- Modal body -->
	      <div class="modal-body">
	        tar deh ye masukinnya
	      </div>

	      <!-- Modal footer -->
	      <div class="modal-footer">
	        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
	      </div>

	    </div>
	  </div>
	</div>
</div>

{% endblock content %}

{% block js %}
    
{% endblock js %}
