{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/story9.css' %}">
{% endblock css %}


{% block title %}Story 9{% endblock title %}

{% block content %}

<div class="container-fluid" style="min-height: 100vh;">

  <div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px;">
    <div class="toast" style="position: absolute; top: 0; right: 0;" data-autohide="false">
      <div class="toast-header">
        <svg class="rounded mr-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
          focusable="false" role="img">
          <rect fill="#007aff" width="100%" height="100%" /></svg>
        <strong class="mr-auto">Notification</strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="toast-body">
        {{msg}}
      </div>
    </div>
  </div>

  {% if not user.is_authenticated %}
  <div class="container" style="margin-top: 2rem;">
    <td class="text-center">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#registerModal">Register</button>
    </td>
    <td class="text-center">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal">Login</button>
    </td>
  </div>
  {% else %}
  <div class="container">
    <h2>Selamat datang {{user.first_name}}</h2>
    <td class="text-center">
      <a href="./logout/" type="button" class="btn btn-primary">Logout</a>
    </td>
  </div>
  {% endif %}

  <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="registerModalLabel">Daftar</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
           <form method="post" action="/story9/register/" id="registerPeserta">
            {% csrf_token %}
            <div class="form-group">
              <label>Name :
                <input required name="name" id="name" type="text" class="textinput textInput form-control"/>
              </label>
              <label>Email :
                <input required name="email" id="email" type="email" class="textinput textInput form-control"/>
              </label>
            </div>
            <div class="form-group">
              <label>Password :
                <input required name="password" id="password" type="password" class="textinput textInput form-control"/>
              </label>
              <label>Confirm Password:
                <input required type="password" name="confirm_password" id="confirm_password" class="textinput textInput form-control"/>
              </label>
              <span id='message'></span>
            </div>
            <button type="submit" id="submit-register" class="btn btn-primary">Register</button>
          </form>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
          <a type="button" class="btn btn-primary" id="registerPeserta">Register</a>
        </div> -->
      </div>
    </div>
  </div>

  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="registerModalLabel">Login</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
           <form method="post" action='/story9/login/' id="registerPeserta">
            {% csrf_token %}
            <div class="form-group">
              <label>Email :
                <input required name="email" id="email" type="email" class="textinput textInput form-control"/>
              </label>
              <label>Password :
                <input required name="password" id="password" type="password" class="textinput textInput form-control"/>
              </label>
            </div>
            <button type="submit" id="submit-register" class="btn btn-primary">Login</button>
          </form>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
          <a type="button" class="btn btn-primary" id="registerPeserta">Register</a>
        </div> -->
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block js %}
<script src="{% static 'js/story9.js'%}"></script>
<script>
  {% if msg is not None %}
    $('.toast').toast('show');
  {% endif %}
</script>

{% endblock js %}